@import "tailwindcss";

:root {
  --green: #3F5E4D;
  --brown: #8B6F47;
  --gold: #D4B483;
  --cream: #F7F3EE;
  --dark: #1E1E1E;
}

body {
  background: var(--cream);
  color: var(--dark);
  font-family: Inter, sans-serif;
}